/* FONTS */

$fontM: MyriadPro;
$fontT: TrebuchetMS;
$fontP: Poppins;


// COLORS 


$color1: #4238d8;
$color2: #7bd9b6;
$color3: #e38620;
$color4: #b800f9;
$color5: #ecf0f5;
$color6: #656f84;
$color7: #E1E9F4;
$color8: #565D68;
$color9: #C1B780;

